

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
   font-family: Arial, Helvetica, sans-serif;   
   background-image: url('/Rectangle\ 18.png');
   background-repeat: no-repeat;
   background-size: cover;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}

.card {
    width: 1180.27px;
height: 392.18px;
background-color:white;
margin-top: 150px;
box-shadow: 2px 0px 12px plum;
}

.card h1 {
    text-align: center;
}

.card-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

input {
    width: 362.49px;
height: 50.72px;
border-radius: 9px;
}

.card-child2 input {
    width: 749.73px;
height: 81.65px;
border-radius: 9px;
}

.card-child button {
    width: 169.49px;
height: 42.06px;
border-radius: 9px;
background: linear-gradient(96.12deg, #D4145A -21.03%, #3D5BF5 103.56%);
border: none;
color: white;
}